# Set the uaccess tag for raw HID access for VKB/Virpil/Thrustmaster devices in Wine
KERNEL=="hidraw*", ATTRS{idVendor}=="231d|3344|044f", ATTRS{idProduct}=="*", MODE="0660", TAG+="uaccess"